# We store secrets here and import them in other config files
# that way we can store the config files in git without leaking secrets.
# You can find the template file in broomarchy/dotfiles/secrets/.secrets.template

export WINAPPS_RDP_PASS=""
